.container{
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    top: 15px;
    left: 15px;
    border: solid #a70a0acc;
    background-color: bisque;
}

.error{
    font-size: 14px;
    color : rgba(143, 17, 17, 0.801);
    font-weight: bold;
}